<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-button expanded="block" (click)="buscarUsuarios()">
  buscar todos os Usuarios
  </ion-button>
  <ion-item>
  <ion-input label="Digite um ID" [(ngModel)]="id"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="buscarPorID()">Filtrar Usuario</ion-button>
  <div *ngif="usuario">
    <h2 style="color: blue">Resultado da busca</h2>
  <ion-item *ngfor="let user of listaUsuarios">
    <ion-badge>{{usuario.id}}</ion-badge>
    <ion-label>
      <h3>{{usuario.nome}}</h3>
      <p>{{usuario.email}}</p>
    </ion-label>
  </ion-item>
</ion-content>
